.name_porfolio{
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;
    text-align: center;
    background-color: gray;
    

}
 .navbar{

    text-decoration: none; 
    list-style: none;
    margin-right: 20px;
    border: 1px solid brown;
    padding: 10px 10px;
    background-color: gray;
    color: brown;
    font-style: oblique;
    font-weight: bolder;
    border-radius: 15px;
    }
a:hover{
    color: blue;
}
ul{
    list-style: none;
}
ul li{
    display: inline-block;
    font-family: Comic Sans MS, Comic Sans, cursive;
    
}
nav{
    padding: auto;
    margin: 50px;
    text-align: right;
    
}
/* header{
    background-color: aqua;
} */
 p{
    text-align: justify;
 }
 legend{
    color: brown;
    font-size: 200%;
 }
 body{
     background-color: burlywood;
    
 }
 .photo_cv{ 
    text-decoration: none;
    font-style: oblique;
    font-weight: bolder;
    color: brown;
    font-size: 125%;
    

 }
 .name_cv{
    text-align: center;
    text-transform: uppercase;
    font-family: Comic Sans MS, Comic Sans, cursive; 
    color: brown;
 }
 p{
    font-family: Comic Sans MS, Comic Sans, cursive;
 }
 h2{
    text-align: center;
    font-family: Comic Sans MS, Comic Sans, cursive;
    color: brown;
    text-decoration: underline;
 }
 